.idea/*
.vscode/*
libs/*
bin/*
build/*
.cache/*
cmake-build-*/
scratch/*
python-bindings/testenv/*
.vs/*
out/
.continue/*
CMakeSettings.json
.aider*
.claude/
*build/
*.cache/
build-*/
*/test*/*
claude.md
scratch/
TODO
CLAUDE.md
